.botonrosa{

  background-color: #F23869;
}
.colorletra{
  font-style: #6658B2;
}
.video-responsive {
  position: relative;
  padding-bottom: 56.25%; /* 16/9 ratio */
  padding-top: 40px; /* IE6 workaround*/
  height: 50px;
  width: 150px;
  overflow: hidden;
  }
  .cardcontent{
    width:250px;
    height: 250px;
  }
  .html{
    scroll-behavior: smooth;
  }
  
  